main {
  display: contents;
}
main > .container {
  margin-bottom: 2.8rem;
}
#discord-container {
  width: 100%;
  color: white;
  height: 640px;
  background-color: #212121;

  iframe {
    width: 100%;
    height: 370px;
    position: relative;
    bottom: 125px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: auto;
    display: block;
  }
  .main {
    height: 370px;
    background: url('../images/discord-background.svg') repeat;
    background-color: #6881D8;
    background-size: 150px;
    display: flex;
  }
}
#forum-container {
  width: 100%;
  padding: 5rem 0;
  height: 0px; // fix PaperMC/papermc.io#12
  background: url('../images/forum-background.svg') repeat;
  background-color: #E08E1D;
  background-size: 150px;
  color: white;
  
  h1, .row {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .col .icon-large {
    font-size: 9rem;
    text-align: center;
    display: block;
  }
}
#irc-container {
  width: 100%;
  padding: 5rem 0;
  height: 0px;
  background: url('../images/irc-background.svg') repeat;
  background-color: #951717;
  background-size: 150px;
  color: white;
  
  h1, .row {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .col i {
    font-size: 9rem;
    text-align: center;
    display: block;
  }
}
.valign-cell {
  display: table-cell;
  vertical-align: middle;
}
.valign-table {
  display: table;
}
#twitter-container {
  width: 100%;
  min-height: 300px;
  background-color: #1DA1F2;
  color: white;

  img {
    width: 10rem;
    display: block;
    margin: 0 auto;
  }
  .twitter-timeline-container {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    max-height: 550px;
    overflow: auto;
    background-color: white;
    margin-bottom: 50px;
  }
}