.builds-table td:last-child, .builds-table th:last-child {
  width: max-content;
}
.download-desc {
  padding: 10px;
}
.builds-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.no-builds-row {
  background-color: #FFFFFF !important;
}
.wide-btn {
  display: block;
  margin: 0 auto;
}
.commit-hash, .commit-hash a {
  font-size: 12px;
  font-family: monospace !important;
}
#downloads-tabs {
  display: flex;

  .tab {
    flex-grow: 1;
  }
}
@media (prefers-color-scheme: dark) {
  table.striped > tbody > tr:nth-child(2n+1) {
    background-color: #1e2021;
  }
  .no-builds-row {
    background-color: #181A1B !important;
  }
}

@media only screen and (max-width: 601px) {
  /* Hidden indicator due to #7, Materialize JS modification may be required to work as intended */
  #downloads-tabs .indicator {
    display: none;
  }
}
