.builds-table td:last-child, .builds-table th:last-child {
  width: 1px;
}
.builds-table td:first-child a {
  width: 100%;
}
.download-desc {
  padding: 10px;
}
.jenkins-btn {
  display: block;
  margin: 0 auto;
}
.commit-hash, .commit-hash a {
  font-size: 12px;
  font-family: monospace !important;
}
@media only screen and (max-width: 601px) {
  #downloads-tabs .tab {
    width: 50%;
    float: left;
  }
  #downloads-tabs {
    height: auto;
    display: block;
  }
  /* Hidden indicator due to #7, Materialize JS modification may be required to work as intended */
  #downloads-tabs .indicator {
    display: none;
  }
}