body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

a:not([href]) {
    color: black;
}

nav .nav-wrapper {
    background-color: #212121;
}

.downloads-button, .downloads-button:hover, .downloads-button i {
    background-color: #ffffff;
    transition: none;
    color: #000000 !important;
}

.downloads-button:hover, .downloads-button:hover i {
    background-color: #eee;
    color: #000000 !important;
}
html nav .btn-flat:hover {
    background: rgba(255, 255, 255, .3) !important;
}
.jumbotron {
    background-image: url(https://i.imgur.com/SJ0J0DX.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 0;
    text-align: center;
}

nav .brand-logo {
    margin-top: -4px;
    z-index: 50;
    font-size: 2.1rem;
    height: 100%;
}

nav .brand-logo img {
    height: calc(100% - 10px);
    vertical-align: middle;
    margin-top: 5px;
}

nav .btn-flat:hover {
    background: rgba(0, 0, 0, 0.1) !important;
}

.clickable {
    cursor: pointer;
}

.sidenav .brand-logo {
    margin: 0 10px;
    text-align: center;
    display: block;
}

.sidenav .brand-logo img {
    width: 50%;
    margin: 10px 0px;
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active, .sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
    background-color: rgba(0, 0, 0, 0.05);
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active a, .sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active a {
    color: rgba(0, 0, 0, 0.87);
}

.tabs .indicator {
    background-color: #212121;
}

.tabs .tab a, .tabs .tab a:hover, .tabs .tab a.active {
    color: #212121;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(0, 0, 0, 0.05);
}

.brand-logo a {
    margin-left: 5px;
}

/* Reasonable Heading Sizes */
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

a.btn.blue {
    background-color: #1886cd !important;
}

html nav.white {
    background-color: #1886cd !important;
}

nav a, nav i, nav .grey-text.text-darken-4 {
    color: white !important;
}

#section-why .col.l3 {
    padding: 30px 20px;
}
@media only screen and (max-width: 601px) {
    nav .brand-logo img {
        height: 42px;
    }

    .nav-wrapper ul a.btn {
        margin-left: 5px;
        margin-right: 5px;
    }
    h1 {
        font-size: 2rem;
    }

}

@media only screen and (max-width: 1200px) {

    .nav-wrapper ul a.btn {
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .nav-wrapper ul a.btn i {
        margin-right: 5px;
    }
}
