<!doctype html>
{% extends 'partial/layout.twig' %}
{% set page = 'community' %}
{% set title = 'Community Guidelines – PaperMC' %}
{% block styles %}
<link type="text/css" rel="stylesheet" href="{{ urls['css/community-guidelines.css'] }}" media="screen, projection"/>
{% endblock %}
{% block content %}
  {# Main Scrollable Content #}
  <main>
    {# Intro #}
    <div class="container">
      <h1>Paper Community Guidelines</h1>
      <div class="row">
        <h3 id="overview" class="header-link"><a href="#overview"><i class="material-icons">link</i></a>Overview</h3>
        <p>
          Paper has grown significantly past what it was originally created to be &mdash; a small group of tightly-knit
          developers having fun on a side project, never really intending it to go anywhere. With this fact in mind, we
          need to be proactive and explicit about how we intend to combat negativity and toxicity in the Paper
          community.
        </p>
        <p>
          We want Paper to be a welcoming community to all, where new members feel safe to hang out and ask questions,
          and where old members are happy to hang out, chat, and help others too. We want Paper to be an inclusive
          environment. Paper is, at its core, a development community. We want to continue staying focused on being a
          development community rather than letting toxic behavior take over.
        </p>
        <p>
          This document is the definitive list of guidelines everyone in the community must follow to participate in
          this community.
        </p>
      </div>
      <div class="row">
        {% spaceless %}
          <h3 id="the-paper-community" class="header-link">
            <a href="#the-paper-community"><i class="material-icons">link</i></a>
            <span>The Paper Community</span>
          </h3>
        {% endspaceless %}
        <p>
          This document uses the phrase "Paper community" to refer to all communication which happens within the Paper
          ecosystem. This includes every forum of communication that is officially part of the Paper project. To be
          abundantly clear, these Paper Community Guidelines apply to all of the following:
        </p>
        <ul class="bullet-list">
          <li>The Paper Discord server</li>
          <li>The Paper IRC channels</li>
          <li>
            The Paper GitHub organization
            <ul>
              <li>This includes issues, pull requests, and any discussion inside issues or pull requests</li>
            </ul>
          </li>
          <li>The Paper forums</li>
        </ul>
      </div>
      <div class="row">
        {% spaceless %}
          <h3 id="guidelines" class="header-link">
            <a href="#guidelines"><i class="material-icons">link</i></a>
            <span>Guidelines</span>
          </h3>
        {% endspaceless %}
        <p>Paper has a fairly short and sweet set of rules. It generally comes down to:</p>
        <ol>
          <li>Don't be a jerk</li>
          <li>Listen to project staff</li>
        </ol>
        <p>
          We do this because creating an exhaustive list for all negative behavior we want to avoid is impossible
          and likely won't help anyways. The kinds of people who would engage in such a way in the
          first place probably aren't the people we want around at all.
        </p>
        <p>
          However, there are specific behaviors we want to avoid in our community. The following behaviors are not
          permitted in the Paper community:
        </p>
        <ol>
          <li>Using language or posting content that can reasonably be considered discriminatory.
            <ol type="a">
              <li>
                Most of the language banned here should be obvious, but will be listed in more detail
                below in <a href="#zero-tolerance-items">Zero Tolerance Items.</a>
              </li>
            </ol>
          </li>
          <li>Posting pornographic, distasteful, or excessively violent content.
            <ol type="a">
              <li>This is similar to the first rule.</li>
            </ol>
          </li>
          <li>
            Spamming or excessively sending messages, including repeating questions, resending links too
            frequently, or posting the same question to multiple channels.
            <ol type="a">
              <li>Spam bots and trolling users will be immediately banned without warning.</li>
              <li>
                Users who are looking for help and are incessantly repeating questions because they aren't receiving any
                answers should be asked to stop repeating their question so often and be patient instead. They should
                also be directed to <code>#paper-help</code> if they aren't there already.
                <ol type="i">
                  <li>
                    Repeating a question after some time has passed and the question is no longer current and the
                    conversation has changed is fine, as long as it's not too repetitive.
                  </li>
                  <li>
                    Repeating a question because the user is receiving help but doesn't like the answer they received is
                    not fine.
                  </li>
                </ol>
              </li>
            </ol>
          </li>
          <li>Trying to advertise, buy or sell services or hire developers. This is not a marketplace.
            <ol type="a">
              <li>
                Advertising for profit, reputation, or fame is forbidden. If you happen to know about some library or 
                project that is genuinely useful and topical, feel free to post it!
              </li>
            </ol>
          </li>
          <li>Formatting usernames to be difficult to read, to impersonate others, to advertise, or to be inappropriate.
            <ol type="a">
              <li>
                Non-hateful and non-bigoted cursing is fine for the most part, but not in usernames. If someone is
                cursing in every message, they should be asked to calm down and stop using those words so much. If a
                curse word is in their username, that's basically the same as saying that word every time they send a
                message &mdash; so it's the same problem.
              </li>
              <li>
                Impersonating people includes anyone in or out of the server, not just staff and not just those in
                Paper.
              </li>
              <li>
                People often try to put their servers or plugins in their usernames, which seems a little distasteful.
                Users can put their server or plugins in their Discord status and it will appear if anyone clicks on
                their names. Including server or plugin names in their username also potentially makes their name
                ridiculously long.
              </li>
              <li>
                Usernames that are nothing but a bunch of symbols that are impossible to pronounce aren't very conducive
                of a good conversation environment. However, this does not apply to usernames in different languages
                and alphabets. There is a difference between having a username in Japanese and having only random
                symbols as your username.
              </li>
            </ol>
          </li>
          <li>Pinging server staff, moderators, or contributors without a valid reason.
            <ol type="a">
              <li>
                Valid reasons include when normal users may not be able to help, or when reporting dupe glitches or
                critical bugs.
              </li>
              <li>
                Anyone with a role is a target for pinging, and the larger Paper gets, the more of an issue this
                becomes.
              </li>
              <li>
                Someone pinging a particular person because they are responding to that person is not a problem and not
                even warranting of a warning. Someone pinging a project developer or contributor just because they want
                an answer in <code>#paper-help</code> is what is addressed here.
              </li>
              <li>There are some users who don't want to be pinged, so please respect their decision.</li>
            </ol>
          </li>
          <li>Discussing politics or political controversy. We prohibit this in order to prevent the degeneration of our chat channels.
            <ol type="a">
              <li>
                This does not apply to instances where people are speaking about their everyday lives or current events - only when discussion devolves to the point of being solely about some political scandal or controversy.
              </li>
            </ol>
          </li>
          <li>Discussing piracy or pirated software. This explicitly applies to "offline-mode" (not authenticating users against Mojang) as well.
            <ol type="a">
              <li>
                This does not apply to legitimate uses of offline mode, like with certain proxies, as long as the users get authenticated with Mojang another way.
              </li>
            </ol>
          </li>
          <li>Discussing the bypassing or exploiting of Minecraft's player safety features in any way that is malicious or harmful. This applies to discussion around how to bypass chat reporting specifically, as well as any other features that make Minecraft a safer place for its users.
            <ol type="a">
              <li>
                This does not apply to general discussion of the safety features themselves, nor does it apply to discussion of these features' potential downsides. Further we will not forbid general discussion of 'proper' ways to disable safety features for legitimate reasons. Only those meaning to bypass them for the sake of avoiding accountability or otherwise being malicious will be punished.
              </li>
            </ol>
          </li>
        </ol>
        <p>
          If someone is violating those feel free to use the <code>@mods</code> ping on Discord to notify the moderation team.
          You can also contact the team privately using the <code>/modmail</code> command or sending a direct message to our bot <code>Pencil#7974 (811281085723705395)</code>, however this
          does not alert us in the same way that the <code>@mods</code> ping does, so don't use it for time sensitive issues.
        </p>
      </div>
      <div class="row">
        {% spaceless %}
          <h3 id="zero-tolerance-items" class="header-link">
            <a href="#zero-tolerance-items"><i class="material-icons">link</i></a>
            <span>Zero Tolerance Items</span>
          </h3>
        {% endspaceless %}
        <p>
          Particularly severe issues represent a behavior and a kind of person we don't want associated with Paper in
          any way. These behaviors will result in an immediate ban without warning:
        </p>
        <ul class="bullet-list">
          <li>Racial slurs or racist speech</li>
          <li>Sexist slurs or sexist speech</li>
          <li>Homophobic or transphobic slurs or speech</li>
          <li>
            Ableist slurs or speech &mdash; there's confusion around this term, so to help clarify:
            <ul>
              <li>Ableist slurs are words that refer to people with disabilities used as insults</li>
              <li>Ableist speech is hate speech directed towards people with disabilities</li>
            </ul>
          </li>
          <li>Any other hate speech not already listed</li>
          <li>Doxxing people</li>
          <li>Personal attacks</li>
        </ul>
        <p>
          This list is not exhaustive. If someone is engaging in bad behavior not conducive to a friendly environment,
          and we believe it warrants an immediate ban, then we will do so.
        </p>
        <p>
          When someone is removed for violating one of these items, all messages in question will be removed as well and reported to Discord if necessary.
        </p>
      </div>
      <div class="row">
        {% spaceless %}
          <h3 id="topic-specific-channels-in-discord" class="header-link">
            <a href="#topic-specific-channels-in-discord"><i class="material-icons">link</i></a>
            <span>Topic Specific Channels on Discord</span>
          </h3>
        {% endspaceless %}
        <p>
          Paper has channels dedicated to specific topics, and conversations in these channels should stay on-topic.
          This can help newer members in particular to feel more comfortable asking questions in the help channels if
          other members aren't also talking over them about other, unrelated topics.
        </p>
        <p>
          Moderators will shut down any off-topic discussions happening in any of the following channels and ask for
          the conversation to be moved to <code>#general</code> instead:
        </p>
        <ul>
          <li><code>#paper-help</code></li>
          <li><code>#paper-dev</code></li>
          <li><code>#velocity-help</code></li>
          <li><code>#velocity-dev</code></li>
          <li><code>#velocity-translations</code></li>
          <li><code>#waterfall-help</code></li>
          <li><code>#waterfall-dev</code></li>
          <li><code>#docs</code></li>
        </ul>
      </div>
      <div class="row">
        {% spaceless %}
          <h3 id="support-channels" class="header-link">
            <a href="#support-channels"><i class="material-icons">link</i></a>
            <span>Support Channels</span>
          </h3>
        {% endspaceless %}
        <p>
          Our support channels <code>#paper-help</code>, <code>#velocity-help</code> and <code>#waterfall-help</code> are there for people who need
          support using our software. While we are very happy that so many members of the community actively support
          there and answer questions, please make sure to follow our guidelines there as well. Many people that go there
          to ask questions are new to Minecraft Servers and to the community itself. We should be welcoming towards
          newcomers, especially since we all started somewhere. In general, "Rule 1: Don't be a jerk" applies here as
          well, but we would like to add the following points:
        </p>
        <ol>
          <li>
            Please don't harass people for using software/plugins that you don't like. We know that some plugins are not
            that well received in this community, but as long as they are not causing the issue itself, you shouldn't
            harass people for using them. This doesn't mean that you can't recommend a replacement. Again, as stated in rule 1, if
            you don't like if someone is using a specific software, you can always choose to just ignore the question
            and let someone else answer.
          </li>
          <li>
            Please be polite even when turning down help. Paper does not officially support older versions of our
            software, and that is not likely to change. We generally discourage people from using our older software,
            and we stipulate that it comes with no support. This does not mean users asking for support for older
            versions should be mocked or yelled at, however.
          </li>
        </ol>
      </div>
      <div class="row">
        {% spaceless %}
          <h3 id="ban-appeal" class="header-link">
            <a href="#ban-appeal"><i class="material-icons">link</i></a>
            <span>Ban appeals</span>
          </h3>
        {% endspaceless %}
        <p>
          If you have been banned on our Discord server, we offer a way to appeal that ban. To do that, simply fill out
          <a href="https://forms.gle/UzQcDUMTZF9vUf7P8">this form</a>. Please make sure to follow the instructions. You
          only get one chance to appeal a ban.
        </p>
      </div>
      <div class="row">
        {% spaceless %}
          <h3 id="last-updated" class="header-link">
            <a href="#last-updated"><i class="material-icons">link</i></a>
            <span>Last Updated <code>2022-06-12</code></span>
          </h3>
          <p xmlns:cc="https://creativecommons.org/ns#" >This document is licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-SA 4.0<img alt="CC" style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img alt="By" style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"><img alt="SA" style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1"></a></p>
        {% endspaceless %}
      </div>
    </div>
  </main>
{% endblock %}
{% block footer %}
{% endblock %}
