<!doctype html>
{% extends 'partial/layout.twig' %}
{% set page = 'community' %}
{% set title = 'Community – PaperMC' %}
{% block styles %}
  <link type="text/css" rel="stylesheet" href="{{ urls['css/community.css'] }}" media="screen, projection"/>
{% endblock %}
{% block content %}
  {# Main Scrollable Content #}
  <main>
    {# Intro #}
    <div class="container">
      <h1>Join our Community</h1>
      <span>We're happy to have you as a part of the PaperMC community!</span>
      <span>Please make sure to read our <a href="community-guidelines">Community Guidelines</a>.</span>
    </div>

    <div class="container">
      {# Forum #}
      <div id="forum-container" class="community-platform valign-table">
        <div class="row container">
          <div class="col l2 s12">
            <i class="material-icons icon-large">forum</i>
          </div>
          <div class="col l10 s12">
            <h1>Forums</h1>
            <p>
              You can join the forums and chat with other administrators, developers, project staff, and more.
              <br><br>
              <a class="downloads-button white grey-text text-darken-4 btn nav-btn waves-effect" href="/forums"><i class="material-icons left">forum</i> Forums</a>
            </p>
          </div>
        </div>
      </div>

      {# Discord #}
      <div id="discord-container" class="community-platform">
        <div class="main">
          <div class="container">
            <h1>Discord</h1>
            <span>Discord is a popular option for many gamers to communicate with each other. We have a Discord community server that anyone can join.</span>
            <br><br>
            <a class="downloads-button white grey-text text-darken-4 btn nav-btn waves-effect" href="https://discord.gg/papermc"><i class="material-icons left">chat</i> Discord</a>
          </div>
        </div>
        <div class="container">
          <iframe src="https://discordapp.com/widget?id=289587909051416579&amp;theme=dark" frameborder="0" allowtransparency="true"></iframe>
        </div>
      </div>

      {# IRC #}
      <div id="irc-container" class="community-platform valign-table">
        <div class="row container">
          <div class="col l2 s12">
            <i class="material-icons">chat</i>
          </div>
          <div class="col l10 s12">
            <h1>IRC</h1>
            <p>
              IRC and Discord are bridged so it's completely up to you which you want to use.<br>
              <br>
              You can join us on either of these two servers:<br>
              #paper on irc.spi.gt<br>
              #paper on irc.esper.net<br>
            </p>
          </div>
        </div>
      </div>

      {# Twitter #}
      <div id="twitter-container" class="community-platform">
        <div class="row container">
          <img src="{{ urls['images/twitter.svg'] }}"/>
        </div>
        <div class="row container twitter-timeline-container">
          <a class="twitter-timeline" data-dnt="true" data-theme="light" data-link-color="#039be5" href="https://twitter.com/PaperPowered">PaperMC Tweets</a>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
{% block footer %}
  {# Twitter Embed #}
  <script async="async" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
