<!doctype html>
{% set page = 'documentation' %}
<html>
  <head>
    {% include 'partial/header.twig' %}
  </head>
  <body>
    {% include 'partial/navigation.html' %}
    
    <!-- Main Scrollable Content -->
    <main>
      <section id="documentation">
        <div id="content">
          <div class="container">

          </div>
        </div>
      </section>
    </main>
    
    {% include 'partial/footer.twig' %}
  </body>
</html>
