<!doctype html>
{% set vars = {'page': 'downloads'} %}
<html>
  <head>
    {% include 'header.twig' with vars %}
  </head>
  <body>
    {% include 'navigation.html' %}
    
    <!-- Main Scrollable Content -->
    <main class="container">
      <h1>Downloads</h1>
      <span>You can download the latest versions of Paper or Waterfall below.</span>
      <div id="content" class="row">
        
      </div>
    </main>
    
    {% include 'footer.twig' with vars %}
  </body>
</html>
