<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PaperMC - The high performance fork</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Roboto:400,700" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/papermc.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <nav class="light-blue darken-2">
        <div class="container">
            <a href="/" class="brand-logo"><img src="/img/wordmark.svg" alt="PaperMC" height="48px"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/community">Community</a></li>
                <li class="active"><a href="/downloads">Downloads</a></li>
                <li><a href="https://paper.readthedocs.io/">Documentation</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="section">
            <h2>Downloads</h2>
            <p>
                You can download the latest versions of PaperMC below. If you're into technical details, you can also
                access <a href="https://papermc.io/ci/">Jenkins</a> directly.
            </p>

            <h4><a href="#1.13" name="1.13">1.13.1 Builds</a></h4>
            <div id="downloads-container-113">
                <div class="downloads-container">
                    <span v-if="loading">
                        <div class="preloader-wrapper active">
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                            </div>
                        </div>
                    </span>

                    <table class="downloads" v-if="builds.length > 0">
                        <tr>
                            <th>Build Number</th>
                            <th>Changes</th>
                            <th>Built</th>
                        </tr>
                        <tr v-for="build in builds">
                            <td>
                                <span v-for="artifact in build.artifacts">
                                    <a :href="artifact.url" class="btn-small waves-effect waves-light light-blue darken-2">
                                        <i class="material-icons left">save_alt</i>{{ build.number }}
                                    </a>
                                </span><br />

                            </td>
                            <td>
                                <!--span v-if="build.latest" class="new badge blue" data-badge-caption="Latest"></span-->
                                <ul class="changes" v-for="change in build.changes">
                                    <li class="change">{{ change }}</li>
                                </ul>

                            </td>
                            <td>
                                {{ build.formattedDate }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <h4><a href="#1.12" name="1.12">1.12.2 Builds</a></h4>
            <div id="downloads-container-112">
                <div class="downloads-container">
                    <span v-if="loading">
                        <div class="preloader-wrapper active">
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                            </div>
                        </div>
                    </span>

                    <table class="downloads" v-if="builds.length > 0">
                        <tr>
                            <th>Build Number</th>
                            <th>Changes</th>
                            <th>Built</th>
                        </tr>
                        <tr v-for="build in builds">
                            <td>
                                <span v-for="artifact in build.artifacts">
                                    <a :href="artifact.url" class="btn-small waves-effect waves-light light-blue darken-2">
                                        <i class="material-icons left">save_alt</i>{{ build.number }}
                                    </a>
                                </span><br />

                            </td>
                            <td>
                                <!--span v-if="build.latest" class="new badge blue" data-badge-caption="Latest"></span-->
                                <ul class="changes" v-for="change in build.changes">
                                    <li class="change">{{ change }}</li>
                                </ul>

                            </td>
                            <td>
                                {{ build.formattedDate }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer light-blue darken-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Paper</h5>
                    <p class="grey-text text-lighten-4">Paper is a high performance fork of Spigot that maintains plugin compatibility while adding new features and APIs.</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 The PaperMC Team
                <a class="grey-text text-lighten-4 right" href="https://github.com/PaperMC/papermc.io">Fork this website</a>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
    <script type="text/javascript" src="js/downloads.js"></script>
</body>
</html>
