<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Velocity - the next generation Minecraft proxy</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Roboto:400,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/velocity.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <nav class="light-blue darken-2">
        <div class="container">
            <a href="/" class="brand-logo"><img src="/img/wordmark.png" alt="Velocity" height="48px"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/community">Community</a></li>
                <li class="active"><a href="/downloads">Downloads</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="section">
            <h2>Downloads</h2>
            <p>
                You can download the latest version of Velocity below. If you're into technical details, you can also
                access <a href="https://ci.velocitypowered.com">Jenkins</a> directly.
            </p>
            <div class="card-panel red darken-4">
                <span class="white-text">
                    Please note that Velocity is in an alpha-quality state and is not yet suitable for large networks.
                    It is suitable primarily for testing and small networks <strong>only</strong>. We are not responsible
                    if Velocity crashes your server, causes you monetary loss, etc. If you find issues, we encourage you
                    to <a href="https://github.com/VelocityPowered/Velocity/issues/new">report the issue</a> so we can fix
                    it.
                </span>
            </div>
            <div id="downloads-container">
                <span v-if="loading">
                    <div class="preloader-wrapper active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                        </div>
                    </div>
                </span>
                <table v-if="builds.length > 0">
                    <tr>
                        <th>Build Number</th>
                        <th>Download</th>
                        <th>Built</th>
                    </tr>
                    <tr v-for="build in builds">
                        <td>
                            #{{ build.number }}
                            <span v-if="build.latest" class="new badge blue" data-badge-caption="Latest"></span>
                        </td>
                        <td>
                            <span v-for="artifact in build.artifacts">
                                <a :href="artifact.url" class="btn-small waves-effect waves-light light-blue darken-2">
                                    <i class="material-icons left">save_alt</i> {{ artifact.type() }}
                                </a>
                                &nbsp;
                            </span>
                        </td>
                        <td>
                            {{ build.formattedDate }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <footer class="page-footer light-blue darken-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Velocity</h5>
                    <p class="grey-text text-lighten-4">Velocity is a Minecraft server proxy with unparalleled server support, scalability, and flexibility.</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 The Velocity team
                <a class="grey-text text-lighten-4 right" href="https://github.com/velocitypowered/website">Fork this website</a>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="js/downloads.js"></script>
</body>
</html>