<!doctype html>
{% set page = 'downloads' %}
<html>
  <head>
    {% include 'partial/header.twig' %}
  </head>
  <body>
    {% include 'partial/navigation.html' %}
    
    <!-- Main Scrollable Content -->
    <main class="container">
      <h1>Downloads</h1>
      <span>You can download the latest versions of Paper or Waterfall below.</span>
      <div id="content" class="row">
        
      </div>
    </main>
    
    {% include 'partial/footer.twig' %}
  </body>
</html>
