<!doctype html>
{% extends 'partial/layout.twig' %}
{% set page = 'downloads' %}
{% set title = 'Downloads – PaperMC' %}
{% block styles %}
  <link type="text/css" rel="stylesheet" href="{{ urls['css/downloads.css'] }}" media="screen, projection"/>
{% endblock %}
{% block content %}
  {# Main Scrollable Content #}
  <main class="container">
    <h1>Downloads</h1>
    <span>You can download the latest versions of Paper or Waterfall below.</span>
    <div id="content" class="row"></div>
  </main>
{% endblock %}
{% block footer %}
  <script type="text/javascript" src="{{ urls['js/downloads.js'] }}"></script>
{% endblock %}
