<!doctype html>
{% extends 'partial/layout.twig' %}
{% set page = 'sponsors' %}
{% set title = 'Sponsors – PaperMC' %}
{% block styles %}
  <link type="text/css" rel="stylesheet" href="{{ urls['css/sponsors.css'] }}" media="screen, projection"/>
{% endblock %}
{% block content %}
  {# Main Scrollable Content #}
  <main>
    {# Intro #}
    <div class="container">
      <h1>Support Us</h1>
      <p>First of all, thank you for considering helping out, we really appreciate that!</p>
      <p>PaperMC is an open community, and part of managing the community involves paying for services, servers, and infrastructure. We do what we can to keep our costs reasonable and sustainable, but still some costs are unavoidable.</p>
      <div class="row">
        <div class="col s12 l3">
          <i class="material-icons benefit-icon">help</i>
        </div>
        <div class="col s12 l9">
          <h4>Why you should donate</h4>
          <p>
            One way to keep PaperMC sustainable is to spread the cost out across many members who choose to donate. PaperMC will always be an open community though, so all <b>donations will always be optional</b>. 
            We will never require donations in order to gain access to anything, or require donations in order to use certain features. 
            We also request that only those who are financially stable and able to donate to do so. You should not feel bad if you aren't able to donate, even if you want to.<br>
            All of our funds, expenses, and donations are visible on our Open Collective page.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s12 l3">
          <i class="material-icons benefit-icon">fast_forward</i>
        </div>
        <div class="col s12 l9">
          <h4>Future plans</h4>
          <p>
            Our costs are relatively low right now, and hopefully they will stay that way. However, only running a single server is not sufficient to meet our hosting needs anymore. Paper continues to grow and more and more people rely on our services and APIs to be operational. With that in mind, we currently have a project underway to determine better methods for us to host our services, with failover and redundancy built in. These changes will increase our hosting costs, which we hope to offset with our new additional donations thanks to our Open Collective and GitHub Sponsors pages.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s12 l3">
          <i class="material-icons benefit-icon">logo_dev</i>
        </div>
        <div class="col s12 l9">
          <h4>Giving back</h4>
          <p>
            There is also the question of contributing money back to our contributors who work very hard to continue to fix issues, implement new features, help with PRs, and all of the other work that goes into maintaining a project of this scale. If we get to a point where our monthly income from donations is much higher than our monthly costs then we can start the discussion on how we may distribute funds to contributors in a fair and transparent manner.
          </p>
        </div>
      </div>
    </div>

	<div class="container">
	  {# Open Collective #}
	  <div id="opencollective-container" class="community-platform valign-table">
	    <div class="row container">
        <div class="col l2 s12">
		      <i class="material-icons icon-large">savings</i>
        </div>
        <div class="col l10 s12">
          <h1>Open Collective</h1>
			    <p>
            PaperMC has various recurring expenses, mostly related to infrastructure, like domains and servers. Paper uses <a class="blue-text text-darken-4" href="https://opencollective.com/">Open Collective</a> via the <a class="blue-text text-darken-4" href="https://opencollective.com/opensource">Open Source Collective fiscal host</a> to manage expenses.
            Open Collective allows us to be extremely transparent, so you can always see how your donations are used.
            <br><br>
			      <a class="downloads-button white grey-text text-darken-4 btn nav-btn waves-effect" href="https://opencollective.com/papermc"><i class="material-icons left">gavel</i>PaperMC Open Collective</a>
			    </p>
		  </div>
	    </div>
	  </div>
      {# Forum #}
      <div id="githubsponsors-container" class="community-platform valign-table">
        <div class="row container">
          <div class="col l2 s12">
            <i class="material-icons icon-large">request_page</i>
          </div>
          <div class="col l10 s12">
            <h1>Github Sponsors</h1>
            <p>
              Additionally, you can also dontate via GitHub Sponsors, which will also go towards our Open Collective.
              <br><br>
              <a class="downloads-button white grey-text text-darken-4 btn nav-btn waves-effect" href="https://github.com/sponsors/PaperMC"><i class="material-icons left">forum</i>PaperMC Github Sponsors Profile</a>
            </p>
          </div>
        </div>
      </div>
        {# List #}
        <div id="list-container" class="community-platform valign-table">
            <div class="row container">
                <div class="col l2 s12">
                    <i class="material-icons icon-large">people</i>
                </div>
                <div class="col l10 s12">
                    <h1>Our Sponsors</h1>
                    <p>
                        Our current balance is <span id="oc-balance">$--.--</span>, our estimated expenses are <span id="oc-spending">$--.--</span> per month.
                        <ul id="sponsor-list">

                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
  </main>
{% endblock %}
{% block footer %}
  {# JS #}
  <script type="text/javascript" src="{{ urls['js/sponsors.js'] }}"></script>
{% endblock %}
