<!doctype html>
{% extends 'partial/layout.twig' %}
{% set page = 'Z750' %}
{% set title = 'A Letter to Z750' %}
{% block styles %}
<link type="text/css" rel="stylesheet" href="{{ urls['css/Z750.css'] }}" media="screen, projection"/>
{% endblock %}
{% block content %}
  <main class="container content">
    <article>
      <h2>A Letter to Z750</h2>

      <time class="label time" datetime="2021-06-23">2021-06-23</time>

      <section>
        <h3>Foreword</h3>

        <p>
          Two days ago Z750 publicly announced his plans of leaving PaperMC and the Minecraft development community as
          a whole. You can read that announcement here:
          <a href="https://zachbr.io/posts/2021-06-22-leaving-papermc-and-minecraft-dev/">
            https://zachbr.io/posts/2021-06-22-leaving-papermc-and-minecraft-dev/
          </a>
        </p>

        <p>
          This wasn't news to the Core Team, but it’s still a bittersweet day. Z750 co-founded Paper and has spent
          several years with the Core Team building Paper to what it is today, and we have all formed deep friendships
          with him.
        </p>
      </section>

      <hr class="sep"/>

      <section>
        <h3>To Z750,</h3>

        <p>
          Thank you for all of your work, time, and your friendship. You have always been a major part of the Paper
          project and community - and you always will be, even after you’ve left. The impact you’ve had on this
          project and community is immeasurable. That being said, very few people get to say that something they've
          built from the ground up grew into something really big, used by thousands of people - and to be able to
          pass that on to others to continue. That’s a huge accomplishment. We wish you the best of luck in whatever
          you do after Paper, and know we’ll always be here if you ever want to chat.
          <br/>
          <span class="label">&ndash; The Core Team</span>
        </p>


        <p>
          I will miss having you to help defend the name of the taco, and for support of the taco supremacy over
          burritos. We still need to meet up and have some tacos, but until then, have one for me! You will be missed.
          <br/>
          <span class="label">&ndash; Aikar</span>
        </p>

        <p>
          I've had an amazing time working on Paper, and I'm amazed where the project has gone since I joined almost 6
          years ago, so thank you for letting me be a part of this. I'm with Aikar though - we definitely need to meet
          up and get tacos. In the meantime, keep listening to Taylor! Best of luck.
          <br/>
          <span class="label">&ndash; DenWav</span>
        </p>

        <p>
          5 years ago, according to NickServ, I for some reason decided to get myself tangled back up in the Minecraft
          community, and god knows how long later joined Spigots IRC team and getting into the spirit of the community
          and adopting the staff curse, to one day figuring out that I’d take a peek at whatever the heck was as
          frowned upon as glancing at a burrito, and ended up finding a little community which helped me to hone on
          and joined the Paper team what must have been a year later. While somewhat late to the club, the ride was
          definitely wild, and I was very glad to have spent that time and made friends with somebody as… exquisite,
          as yourself, as well as the community which once was a small trickle until it all exploded. The journey so
          far has been a fun, if not interesting one, and it blows you’re not gonna be here as we continue on this
          quest, but, it’s been great, frendino, and I hope that you do well and continue to drop on by, even if you
          only manage once in a blue moon
          <br/>
          <span class="label">&ndash; electroniccat</span>
        </p>

        <p>
          We have had some fun years working together - back when Paper was just a tiny project used by a few people,
          to where it is now. I will miss having you around.
          <br/>
          <span class="label">&ndash; kashike</span>
        </p>

        <p>
          While we haven't worked directly for as long as some others here, you were one of the first people I ever
          interacted with in this community, I don't know how many years ago back in irc times. It's really strange to
          think about you not being as present anymore, but you for sure have left a mark on the community and me
          personally, especially the love for tacos.
          <br/>
          <span class="label">&ndash; MiniDigger</span>
        </p>
      </section>
    </article>
  </main>
{% endblock %}
{% block footer %}
{% endblock %}
